html{
    scroll-behavior: smooth;
}

body{
    background-image: url('./assets/images/site-background.png');
    background-color: $primary;
    font-family: 'Roboto', sans-serif;
}

.red-underline{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $contrast;
    text-underline-offset: 3px;
}

.section{
    margin-bottom: 70px;
}

.section-title{
    position: relative;
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 35px;
    font-weight: $fw-black;
    color: $contrast;

    @media (max-width: $md) {
        font-size: 30px;
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
        background-image: url('./assets/images/section-title-line.svg');
        background-repeat: no-repeat;
    }
}