.recent-works{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: $md) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }
    }
    
    &__card{
        a{
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 16px;
            background-color: $primary-pale;
            border-radius: 8px;

            &:hover{
                figure{
                    img{
                        opacity: 1;
                    }
                }
            }

            figure{
                margin-bottom: 20px;

                img{
                    display: block;
                    aspect-ratio: 257/146;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 4px;
                    opacity: 0.7;
                }
            }

            .site-name{
                color: $white;
                font-weight: $fw-bold;
                font-size: 18px;
                margin-bottom: 12px;
                @extend .red-underline;
            }

            .site-description{
                margin-bottom: 20px;
                font-size: 16px;
                color: $primary-light;
            }
            
            .tags{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: auto;
                padding-top: 14px;
                border-top: 1px solid transparentize($primary-light, 0.8);
                
                li{
                    display: flex;
                    color: $primary-light;
                    font-size: 14px;
                    padding-right: 8px;
                    
                    &:last-child{
                        &::after{
                            display: none;
                            padding: 0;
                        }
                    }
                    
                    &::after{
                        content: "";
                        height: 100%;
                        width: 1px;
                        margin-left: 8px;
                        border-right: 1px solid transparentize($primary-light, 0.5);
                    }
                }
            }
        }
    }
}