.skill-set{
    &__list{
        position: relative;

        &::after{
            @media (max-width: $md) {
                content: "";
                display: block;
                position: absolute;
                top: -13px;
                right: -12px;
                width: 100px;
                height: 100%;
                background: linear-gradient(270deg, #23253A 26.04%, rgba(35, 37, 58, 0.33) 99.99%, rgba(35, 37, 58, 0.00) 100%);
                pointer-events: none;
            }
        }
        
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 56px;
            row-gap: 40px;
    
            @media (max-width: $md) {
                column-gap: 30px;
                flex-wrap: inherit;
                overflow-x: auto;
                padding-bottom: 20px;
                padding-right: 70px;
            }
    
            li{
                width: 75px;
    
                @media (max-width: $md) {
                    flex-shrink: 0;
                }
    
                figure{
                    width: 100%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $white;
                    border-radius: 100%;
        
                    img{
                        width: 36px;
                        height: 36px;
                    }
                }
        
                p{
                    margin-top: 10px;
                    color: $white;
                    font-size: 16px;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    }

    &__extra{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 56px;
        
        @media (max-width: $md) {
            margin-top: 40px;
            grid-template-columns: 1fr 1fr;
        }
        
        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }

        li{
            color: $white;
            font-size: 16px;

            &::before{
                content: "+";
                margin-right: 8px;
                color: $contrast;
            }
        }
    }

    .languages {
        tr{
            &:first-child{
                td{
                    padding-top: 0;
                }
            }

            td {
                padding: 8px 0;
                color: $white;
                font-size: 16px;
    
                .score {
                    display: flex;
                    padding-left: 16px;
                    transform: translateY(3px);
    
                    span {
                        width: 14px;
                        height: 14px;
                        margin-right: 10px;
                        border-radius: 100%;
                        background-color: $contrast;
    
                        &.disabled {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
}