.skill-set{
    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 56px;
        row-gap: 40px;

        @media (max-width: $md) {
            column-gap: 30px;
            flex-wrap: inherit;
            overflow-x: auto;
            padding-bottom: 20px;
        }

        li{
            width: 75px;

            @media (max-width: $md) {
                flex-shrink: 0;
            }

            figure{
                width: 100%;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $white;
                border-radius: 100%;
    
                img{
                    width: 36px;
                    height: 36px;
                }
            }
    
            p{
                margin-top: 10px;
                color: $white;
                font-size: 16px;
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    &__extra{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 56px;
        
        @media (max-width: $md) {
            margin-top: 40px;
            grid-template-columns: 1fr 1fr;
        }
        
        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }

        li{
            color: $white;
            font-size: 16px;

            &::before{
                content: "+";
                margin-right: 8px;
                color: $contrast;
            }
        }
    }

    .languages {
        tr{
            &:first-child{
                td{
                    padding-top: 0;
                }
            }

            td {
                padding: 8px 0;
                color: $white;
                font-size: 16px;
    
                .score {
                    display: flex;
                    padding-left: 16px;
                    transform: translateY(3px);
    
                    span {
                        width: 14px;
                        height: 14px;
                        margin-right: 10px;
                        border-radius: 100%;
                        background-color: $contrast;
    
                        &.disabled {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
}